* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.cards {
  margin: 30px;
  display: flex;
  gap: 20px;
}

.card {
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  background-color: rgb(209, 238, 231);
}
